*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html, body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero{
  font-size: 5vw;
  font-weight: 600;
  text-align: center;
  color: crimson;
  text-transform: capitalize;
}

.cursor{
  width: 20px;
  height: 20px;
  background-color: crimson;
  border-radius: 100%;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}
